<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Error</title>
	</head>
	
	<body>
		
     	<div class="content">
		<br>
        <br>
        <br>
        <br>
        <div class="container">
		       <div class="jumbotron" style="color: #54775E !important">
				
						<h2>Oops!!</h2>
						<p>Se ha producido un error. Por favor, vuelva a intentarlo más tarde.</p>
						<a class="btn btn-success" th:href="@{~/}" > Inicio </a>
						</div>
			
				</div>
			</div>   

		
	</body>
</html>
	