<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
<head>
<title>Página de bienvenida</title>
</head>
<body>
	<div class="content">


		<section class="header10 cid-rRNj0QgYWr mbr-fullscreen"
			id="header10-3">





			<div class="container">
				<div class="jumbotron"><h1 style="text-align:center;">BIENVENIDO A PET-CLINIC</h1></div>
			</div>
		</section>

	</div>
</body>
</html>
